@use "./variables"as*;

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 85vw;
    padding: 30px;

    &__button {
        background-color: $quinary-color;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        border:2px solid $quartenary-color;
        color: black;
        transition: ease 0.3s;
    }

    &__button:hover {
        background-color: $senary-color;
    }
}

