@use "./variables" as*;
@import "./mixins";

.main-buttons {

    &__button {
        align-items: center;
        font-family: "Playfair Display", serif;
        font-weight: 300;
        background-color: $nonary-color;
        border-radius: 30px;
        border: 5px solid $nonary-color;
        transition: ease 0.3s;
        color: $septenary-color;
        font-size: 0.95em;
        //background-color: green;
    }

    &__button:hover {
        background-color: $tertiary-color;
        border: dashed 2px $septenary-color;
        color: $octinary-color;
    }
}

