@use "./variables" as*;

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95vw;
    

    &__button {
        background-color: $secondary-color;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        border: 5px solid $quartenary-color;
        color: black;
        transition: ease 0.3s;
        margin: 0px 5px;
    }

    &__button:hover {
        background-color: $tertiary-color;
        border: dashed 5px $septenary-color;
    }
}