@import "./variables";
@import "./mixins";

.background {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-size: contain;
    background-image: url('https://i.pinimg.com/originals/89/f5/38/89f5387e9b4a3761ad9df388f0a1011c.png');

    &__flex {
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        //padding: 30px;
    }
}

.main {
    @include flex-center(column);
    &__variables {
        @include flex-center(column) 
    }
}

.nav-container {
    font-family: "Playfair Display", serif;
    font-weight: 300;
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: space-between;
    //max-height: 30px; //$toggleSize + $toggleMargin;
    outline: none;
    height: 30px;
    font-size: 0.7em;
    background-color: $nonary-color;
    border: 4px solid $tertiary-color;
    border-radius: 30px;

    &.is-active {
        .nav-items {
            transform: translate(0, 0);
        }
    }

    .nav-toggle {
        color: $octinary-color;
        $offset: $toggleSize * 0.5;
        border-radius: 30px;
        position: relative;
        padding: 10px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-items {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 300px;
        max-width: 50vw;
        width: 100vw;
        height: auto;
        z-index: 1;
        padding: 80px 20px 20px 10px;
        transition: transform .7s ease;
        transform: translate(calc(-100% - 50px), 0);
        background: $nonary-color;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px 0;
        align-content: start;

        .nav-item {
            background: lighten($nonary-color, 3%);
            padding: 10px;
            transition: background-color .3s ease;
            color: $septenary-color
        }

        .nav-clues {
            background: lighten($quartenary-color, 15%);
            padding: 10px;
            transition: background-color .3s ease;
            color: $octinary-color
        }
    }
}

.heading {
    font-family: "Parisienne", cursive;
    @include flex-center (row);
    font-size: 0.9em;

    -webkit-text-fill-color: $nonary-color;
    -webkit-text-stroke: 0.5px $octinary-color;

    &__title {
        margin: 0;
        //letter-spacing: 0px;
    }

}

.hangman {
    @include flex-center(row);
    @include shadow-borders;
    width: 90vw;
    height: 27vh;
    background-color: white;

    &__image {
        height: 27vh;
        width: auto;
        opacity: 1.0;
    }

    &__GIF {
        max-width: 90vw;
        max-height: 27vh;
        object-fit: contain;
    }
}

.display {
    @include shadow-borders;
    background-color: $nonary-color;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;


    &__text {
        font-family: "Playfair Display", serif;
        font-size: 15px;
        padding: 10px;
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    .hangman {
        height: 40vh;
        width: 90vw;
        margin: 10px;

        &__image {
            height: 40vh;
        }

        &__GIF {
            max-width: 90vw;
            min-height: 40vh;
            object-fit: contain;
        }


    }

    .heading {
        font-size: 25px;
    }

    .nav-container {
        height: 53px;
        font-size: 1.5em;
    }

    .display {
        height: 8vh;

        &__text {
            font-size: 35px;
        }
    }

}

@media screen and (min-width:1024px) {
    .main {
        @include flex-center(row);

        &__variables {
            margin: 15px;
            @include flex-center(column);
        }
    }
    .hangman {
        height: 57vh;
        width: 53vw;

        &__image {
            height: 57vh;
        }

        &__GIF {
            max-height: 57vh;
            max-width: 53vw;
            object-fit: contain;  
        }
    }

    .heading {
        font-size: 35px;
    }

    .nav-container {
        height: 54px;
        font-size: 1.6em;
    }

    .display {
        width: 53vw;
        &__text {
            font-size: 47px;
        }
    }

}