@use "./variables" as*;

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-size: contain;
    background-image: url('https://i.pinimg.com/originals/89/f5/38/89f5387e9b4a3761ad9df388f0a1011c.png');

    &__flex {
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //padding: 30px;
    }
}

.heading {
    font-size: 1.5em;
}

.hangman {
    width: 90vw;
    height: 27vh;

    border: $tertiary-color 5px solid;
    box-shadow: 5px 5px 5px $senary-color;
    
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    

    &__image {
        height: 27vh;
        width: auto;
        mix-blend-mode: multiply;
        opacity: 1.0;
        
    }
}

.display {
    background-color: $nonary-color;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $tertiary-color 5px solid;
    box-shadow: 5px 5px 5px $senary-color;
    border-radius: 5px;

    &__text {
        font-size: 30px;
        background-color: $nonary-color;
    }
}