@import "./variables";
@import "./mixins";

.background {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
    background-size: contain;
    background-image: url('https://i.pinimg.com/originals/89/f5/38/89f5387e9b4a3761ad9df388f0a1011c.png');

    &__flex {
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        //padding: 30px;
    }
}

.main {
    @include flex-center(column);
    width: 100%;
    height: 85%;
    //border: 10px solid black;
}

.instructions {

    font-family: "Playfair Display", serif;
    font-weight: 300;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    //max-height: 30px; //$toggleSize + $toggleMargin;
    outline: none;
    height: 5%;
    font-size: 2.1vh;
    background-color: $nonary-color;
    border: 4px solid $tertiary-color;
    border-radius: 30px;

    &.is-active {
        .instructions__points {
            transform: translate(0, 0);
        }
    }

    &__toggle {
        color: $octinary-color;
        border-radius: 30px;
        position: relative;
        padding: 7px;
        z-index: 2;

        &:hover {
            cursor: pointer;
        }
    }

    &__points {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 300px;
        max-width: 50vw;
        width: 100vw;
        height: auto;
        z-index: 1;
        padding: 100px 20px 20px 10px;
        transition: transform .7s ease;
        transform: translate(calc(-100% - 50px), 0);
        background: $nonary-color;
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    &__point {
        background: lighten($nonary-color, 3%);
        padding: 10px;
        transition: background-color .3s ease;
        color: $septenary-color;

    }

    &__highscore {
        @include flex-center(row);
        font-size: 5vh;
    }

    &__clues {
        background: lighten($quartenary-color, 15%);
        padding: 10px;
        transition: background-color .3s ease;
        color: $octinary-color
    }

    &__highscoreTitle {
        background-color: lighten($duodenary-color, 8%);
        padding: 10px;
        transition: background-color .3s ease;
        color: $septenary-color;
    }

    &__highscoreValue {
        @include flex-center(row);
        font-size: 3vh;
    }
}

.highscore {
    margin: 0px;
    @include flex-center (row);
    padding: 0px 9px;
    height: 100%;
    //background-color: lighten($denary-color, 10%);
    background-color: lighten($duodenary-color, 8%);
    color: $septenary-color;

    &__score {
        padding: 0px 2px;
        margin: 0px;
        font-size: 2.7vh;
        @include flex-center (row)
    }

    &__title {
        margin: 0%;
    }
}

.heading {
    background-color: blue;
    font-family: "Parisienne", cursive;
    @include flex-center (row);
    -webkit-text-fill-color: $nonary-color;
    -webkit-text-stroke: 0.5px $octinary-color;
    height: 10%;


    &__title {
        @include flex-center (row);
        font-size: 4vh;
        margin: 0;
        text-align: center;
    }
}

.hangman {
    @include flex-center(row);
    @include shadow-borders;
    width: 95%;
    height: 35%;
    background-color: white;
    margin: 0px 0px 5px 0px;

    &__image {
        height: 100%;
        width: auto;
        opacity: 1.0;
    }

    &__GIF {
        max-width: 90vw;
        max-height: 26vh;
        object-fit: contain;
    }
}

.display {
    @include shadow-borders;
    background-color: $nonary-color;
    width: 95%;
    //height: 10vh;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        font-family: "Playfair Display", serif;
        font-size: 4.5vh;
        padding: 10px;
        margin: 0;
        color: darken($octinary-color, 9%);
    }
}

@media screen and (min-width:768px) {
    .hangman {
        height: 40vh;

        //width: 90vw;
        margin: 10px;

        &__image {
            height: 40vh;
        }

        &__GIF {
            max-width: 90vw;
            min-height: 40vh;
            object-fit: contain;
        }

    }

    .display {
        height: 8vh;
    }

    .instructions__points {
        padding: 120px 20px 20px 10px;
    }
}

@media screen and (min-width:1024px) {
    .main {

        width: 900px;
        display: grid;
        grid-template-areas: "  hangman hangman keyboard keyboard"
            "display display display display ";
    }

    .instructions {
        &__decoration {
            background: $nonary-color;
            padding: 10px;
            transition: background-color .3s ease;
            color: $octinary-color
        }
    }

    .heading {
        &__title {
            font-size: 7vh;
        }
    }

    .hangman {
        height: 375px;
        width: 550px;
        margin: 0px;

        //width: 55vw;
        grid-area: hangman;

        &__image {
            height: 375px;
        }

        &__GIF {
            max-height: 375px;
            max-width: 550px;
            object-fit: contain;
        }
    }


    .display {
        width: 100%;
        height: 70px;

        grid-area: display;
    }
}

@media screen and (min-width:1440px) {

    .main {
        width: 100%;
    }

    .hangman {
        height: 100%;
        width: 750px;
        margin: 0px 15px;

        &__image {
            height: 600px;
        }

    }



    .display {
        
        width: 1300px;
        height: 90px
    }

    .heading__title {
        font-size: 5.5vh;
    }
}