@import "./variables";

@mixin flex-center ($flex-direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $flex-direction;
    
}

@mixin keyboard-text($font-size:12px, $color:$septenary-color) {
    font-size: $font-size;
    color: $color;
}

@mixin instructions-text($color:$septenary-color) {
    font-size: 12px;
    color: $color;
}

// @mixin borders($color:$septenary-color) {
//     border: 5px solid $color;
// } - find where this is used

@mixin shadow-borders($border-color:$tertiary-color,$shadow-color:$senary-color) {
    border: $border-color 5px solid;
    box-shadow: 5px 5px 5px $shadow-color;
    border-radius: 5px;
}

