$primary-color: pink;
$secondary-color: rgb(192, 255, 192);
$tertiary-color: rgb(255, 236, 144);
$quartenary-color: rgb(242, 192, 255);
$quinary-color: rgb(192, 224, 255);
$senary-color: rgb(243, 227, 191);
$septenary-color: rgb(193, 193, 193);
$octinary-color: rgb(197, 73, 73);
$nonary-color: rgb(232, 232, 232);
