$primary-color: rgb(252, 255, 232);
$secondary-color: rgb(255, 230, 192);
$tertiary-color: rgb(255, 197, 239);
$quartenary-color: rgb(219, 145, 238);
$quinary-color: rgb(128, 191, 253);
$senary-color: rgb(180, 139, 247);
$septenary-color: rgb(255, 58, 186);
$octinary-color: rgb(75, 33, 160);
$nonary-color: rgb(223, 247, 255);

$toggleSize: 40px;
$toggleMargin: 10px;
$toggleLine: 4px;

