$primary-color: rgb(252, 255, 232);
$secondary-color: rgb(255, 230, 192);
$tertiary-color: rgb(255, 197, 239);
$quartenary-color: rgb(219, 145, 238);
$quinary-color: rgb(128, 191, 253);
$senary-color: rgb(180, 139, 247);
$septenary-color: rgb(233, 78, 217);
$octinary-color: rgb(68, 52, 209);
$nonary-color: rgb(223, 247, 255);


