.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 95vw;
}
.keyboard__letter {
  font-family: "Parisienne", cursive;
  width: 95/6vw;
  height: 7vh;
  border-radius: 10px;
  transition: 0.3s ease;
  font-size: 4vh;
  color: rgb(255, 58, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.keyboard__letter--y {
  grid-column-start: 3;
}
.keyboard__letter:hover {
  background-color: rgb(219, 145, 238);
  border: rgb(255, 197, 239) 2px dashed;
}

.isUnclicked {
  color: rgb(255, 58, 186);
  background-color: rgb(255, 197, 239);
  border: 2px solid rgb(219, 145, 238);
}

.isIncorrect {
  color: rgb(255, 58, 186);
  background-color: rgb(255, 190, 177);
  border: 2px solid violet;
}

.isCorrect {
  color: blue;
  background-color: violet;
  border: 2px solid rgb(255, 197, 239);
}

@media screen and (min-width: 768px) {
  .keyboard__letter {
    height: 6vh;
  }
}
@media screen and (min-width: 1024px) {
  .keyboard {
    border: violet 5px solid;
    box-shadow: 5px 5px 5px rgb(255, 197, 239);
    border-radius: 5px;
    grid-area: keyboard;
    margin: 15px;
    height: 50vh;
    width: 30vw;
    background-color: rgb(180, 139, 247);
  }
  .keyboard__letter {
    height: 10vh;
    width: 5vw;
  }
}
.background {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-size: contain;
  background-image: url("https://i.pinimg.com/originals/89/f5/38/89f5387e9b4a3761ad9df388f0a1011c.png");
}
.background__flex {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.instructions {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 5vh;
  font-size: 2.1vh;
  background-color: rgb(223, 247, 255);
  border: 4px solid rgb(255, 197, 239);
  border-radius: 30px;
}
.instructions.is-active .instructions__points {
  transform: translate(0, 0);
}
.instructions__toggle {
  color: rgb(75, 33, 160);
  border-radius: 30px;
  position: relative;
  padding: 10px;
  z-index: 2;
}
.instructions__toggle:hover {
  cursor: pointer;
}
.instructions__points {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 50vw;
  width: 100vw;
  height: auto;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.7s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: rgb(223, 247, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
}
.instructions__point {
  background: #eefbff;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: rgb(255, 58, 186);
}
.instructions__clues {
  background: #f1d3f8;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: rgb(75, 33, 160);
}
.instructions__decoration {
  background: rgb(223, 247, 255);
  padding: 10px;
  transition: background-color 0.3s ease;
  color: rgb(75, 33, 160);
}

.highscore {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0px 9px;
  height: 100%;
  background-color: #ffe0da;
  color: rgb(255, 58, 186);
}
.highscore__score {
  padding: 0px 2px;
  margin: 0px;
  font-size: 2.7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.highscore__title {
  margin: 0%;
}

.heading {
  font-family: "Parisienne", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  -webkit-text-fill-color: rgb(223, 247, 255);
  -webkit-text-stroke: 0.5px rgb(75, 33, 160);
}
.heading__title {
  font-size: 4vh;
  margin: 0;
  text-align: center;
}

.hangman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: rgb(255, 197, 239) 5px solid;
  box-shadow: 5px 5px 5px rgb(180, 139, 247);
  border-radius: 5px;
  width: 90vw;
  height: 27vh;
  background-color: white;
}
.hangman__image {
  height: 27vh;
  width: auto;
  opacity: 1;
}
.hangman__GIF {
  max-width: 90vw;
  max-height: 27vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.display {
  border: rgb(255, 197, 239) 5px solid;
  box-shadow: 5px 5px 5px rgb(180, 139, 247);
  border-radius: 5px;
  background-color: rgb(223, 247, 255);
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display__text {
  font-family: "Playfair Display", serif;
  font-size: 4.5vh;
  padding: 10px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hangman {
    height: 40vh;
    width: 90vw;
    margin: 10px;
  }
  .hangman__image {
    height: 40vh;
  }
  .hangman__GIF {
    max-width: 90vw;
    min-height: 40vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .display {
    height: 8vh;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-areas: "hangman hangman keyboard keyboard" "display display display display ";
  }
  .heading__title {
    font-size: 7vh;
  }
  .hangman {
    height: 50vh;
    width: 55vw;
    grid-area: hangman;
  }
  .hangman__image {
    height: 50vh;
  }
  .hangman__GIF {
    max-height: 57vh;
    max-width: 53vw;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .display {
    width: 88vw;
    align-self: center;
    justify-self: center;
    grid-area: display;
  }
}
.main-buttons__button {
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  background-color: rgb(223, 247, 255);
  border-radius: 30px;
  border: 5px solid rgb(223, 247, 255);
  transition: ease 0.3s;
  color: rgb(255, 58, 186);
  font-size: 1em;
}
.main-buttons__button:hover {
  background-color: rgb(255, 197, 239);
  border: dashed 2px rgb(255, 58, 186);
  color: rgb(75, 33, 160);
}/*# sourceMappingURL=style.css.map */