.letters-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 95vw;
}
.letters-section__letter {
  font-family: "Parisienne", cursive;
  width: 95/6vw;
  height: 7vh;
  background-color: rgb(255, 197, 239);
  border: 2px solid rgb(219, 145, 238);
  border-radius: 10px;
  color: rgb(75, 33, 160);
  transition: 0.3s ease;
  font-size: 25px;
  color: rgb(255, 58, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.letters-section__letter--y {
  grid-column-start: 3;
}
.letters-section__letter:hover {
  background-color: rgb(219, 145, 238);
  border: rgb(255, 197, 239) 2px dashed;
}

@media screen and (min-width: 768px) {
  .letters-section__letter {
    height: 6vh;
    font-size: 34px;
    color: rgb(255, 58, 186);
  }
}
@media screen and (min-width: 1024px) {
  .letters-section__letter {
    height: 6vh;
    font-size: 48px;
    color: rgb(255, 58, 186);
  }
}
.background {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat;
  background-size: contain;
  background-image: url("https://i.pinimg.com/originals/89/f5/38/89f5387e9b4a3761ad9df388f0a1011c.png");
}
.background__flex {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  display: flex;
  width: 95vw;
  align-items: center;
  justify-content: space-between;
  outline: none;
  height: 30px;
  font-size: 0.9em;
  background-color: rgb(223, 247, 255);
  border: 4px solid rgb(255, 197, 239);
  border-radius: 30px;
}
.nav-container.is-active .nav-items {
  transform: translate(0, 0);
}
.nav-container .nav-toggle {
  color: rgb(75, 33, 160);
  border-radius: 30px;
  position: relative;
  padding: 10px;
  z-index: 2;
}
.nav-container .nav-toggle:hover {
  cursor: pointer;
}
.nav-container .nav-items {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 50vw;
  width: 100vw;
  height: auto;
  z-index: 1;
  padding: 80px 20px 20px 10px;
  transition: transform 0.7s ease;
  transform: translate(calc(-100% - 50px), 0);
  background: rgb(223, 247, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 0;
  align-content: start;
}
.nav-container .nav-items .nav-item {
  background: #eefbff;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: rgb(255, 58, 186);
}
.nav-container .nav-items .nav-clues {
  background: #f1d3f8;
  padding: 10px;
  transition: background-color 0.3s ease;
  color: rgb(75, 33, 160);
}

.heading {
  font-family: "Parisienne", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  -webkit-text-fill-color: rgb(223, 247, 255);
  -webkit-text-stroke: 0.5px rgb(75, 33, 160);
}
.heading__title {
  margin: 0;
}

.hangman {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 90vw;
  height: 27vh;
  border: rgb(255, 197, 239) 5px solid;
  box-shadow: 5px 5px 5px rgb(180, 139, 247);
  border-radius: 5px;
  background-color: white;
}
.hangman__image {
  height: 27vh;
  width: auto;
  opacity: 1;
}

.display {
  background-color: rgb(223, 247, 255);
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(255, 197, 239) 5px solid;
  box-shadow: 5px 5px 5px rgb(180, 139, 247);
  border-radius: 5px;
}
.display__text {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hangman {
    height: 40vh;
    margin: 10px;
  }
  .hangman__image {
    height: 40vh;
  }
  .heading {
    font-size: 25px;
  }
  .nav-container {
    height: 30px;
    font-size: 0.9em;
  }
  .display {
    height: 8vh;
  }
  .display__text {
    font-size: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .hangman {
    height: 35vh;
  }
  .hangman__image {
    height: 35vh;
  }
  .heading {
    font-size: 35px;
  }
  .nav-container {
    height: 54px;
    font-size: 1.6em;
  }
  .display__text {
    font-size: 65px;
  }
}
.main-buttons__button {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  background-color: rgb(223, 247, 255);
  border-radius: 30px;
  border: 5px solid rgb(223, 247, 255);
  transition: ease 0.3s;
  color: rgb(255, 58, 186);
  font-size: 1em;
}
.main-buttons__button:hover {
  background-color: rgb(255, 197, 239);
  border: dashed 2px rgb(255, 58, 186);
  color: rgb(75, 33, 160);
}/*# sourceMappingURL=style.css.map */